/* general style */
* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  font-family: "Alegreya", serif;
  font-size: x-large;
}

/* start of home */
.home-caption h1 {
  font-family: "Alegreya Sans", sans-serif;
}

.clear-fix {
  clear: both;
}

.home {
  background-image: url(Image/main.jpg);
  height: 100vh;
  background-size: 100% 100%;
  margin-bottom: 50px;
}

.home .navbar {
  background-color: rgba(0, 0, 0, 0.1);
}

.home .navbar img {
  width: 190px;
  vertical-align: middle;
  padding-top: 10px;
}

.home .navbar .nav-img {
  float: left;
  margin-left: 190px;
}

.home .navbar .nav-link {
  float: right;
  margin-right: 190px;

  padding-bottom: 20px;
}

.home .navbar .nav-link ul {
  list-style: none;
  margin-top: 40px;
  padding: 0;
}

.home .navbar .nav-link li {
  float: left;
  padding: 0 15px;
}

.home .navbar .nav-link li a {
  color: #f8f8f8;
  text-decoration: none;
}

.home .home-caption {
  text-align: center;

  padding-top: 200px;
  color: white;
}

.home .home-caption h1 {
  margin-bottom: 20px;
}

.home .home-caption p {
  margin-bottom: 20px;
}

.home .home-caption button {
  padding: 20px 25px;
  border: none;
  border-radius: 5px;
}
.home .home-caption .btn1 {
  background-color: #8e7754;
  margin-right: 20px;
}
/* end of  home section */

.con {
  width: 80%;
  margin: auto;
}

/*section one */

/*  start of who we are  */

.container-m {
  display: flex;
  background-color: #fff;

  margin-bottom: 40px;
}

.image img {
  width: 90%;
  height: 90%;
}
.content {
  flex: 1;
  padding: 40px;
}
.content h1 {
  margin-bottom: 50px;
}
.content p {
  line-height: 1.6;
  margin-bottom: 50px;
  color: #7d7676;
}
.content ul {
  list-style: none;
  padding: 0;
}
.content ul li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.content ul li i {
  margin-right: 15px;
  color: #8d8d8d;
}
/* end of the section */

/* sartvof our location */
/*section two */
.container {
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  width: auto;
  margin: 0 auto;
  margin-bottom: 80px;
}
.text-class {
  max-width: 50%;
  margin-left: 70px;
  text-align: left;
}
.text-class h2 {
  color: rgb(28, 26, 26);
  display: inline-block;
  padding: 10px 20px;
  font-size: 30px;
}
.text-class p {
  color: #8d8d8d;
  text-align: left;
}
.image-image {
  width: 45%;
  margin-right: 70px;
  margin-bottom: 50px;
}
.image-section img {
  width: 80%;
  height: auto;
  padding-bottom: 30px;
}

/*section three */
/* start of our baking  */

.containerr {
  text-align: center;
  margin-bottom: 100px;
}

.our_baking {
  text-align: center;
}
.paking {
  display: inline-block;
  width: 33%;
  text-align: center;
  line-height: 30px;
}
.paking img {
  width: 80%;
}

.paking h2 {
  font-size: 35px;
}
/* end of our baking  */

/* section four */
.google-text {
  display: flex;
  justify-content: space-between;
  padding: 100px;
  background-color: #f8f8f8;
  background-image: "image/baking2.jpg";
  margin-top: 50px;
}

.containerrr {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.contact-info {
  max-width: 50%;
}
.contact-info h1 {
  font-size: 36px;
  color: #333;
}
.contact-info p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}
.contact-details {
  margin-top: 20px;
}
.contact-details div {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.contact-details div i {
  font-size: 24px;
  color: #a67c52;
  margin-right: 15px;
}
.contact-details div span {
  font-size: 16px;
  color: #333;
}
.map {
  max-width: 50%%;
}
.map iframe {
  width: 100%;
  height: 400px;
  border: #a67c52;
}

/* start of footer */

.container1 {
  width: 100%;
  background-color: #f8f8f8;
  margin: auto;
  padding: 50px 0;
}

.Contact-Information {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.Contact-Information-img {
  float: right;
  width: 60%;
  padding: 10px 50px;
}

.Contact-Information-img iframe {
  width: 100%;
  height: 450px;
  border: none;
}

.Contact-Information-caption {
  float: left;
  width: 40%;
  text-align: center;
  padding: 50px 30px;
}

.Contact-Information-caption h2 {
  margin-bottom: 30px;
  font-size: xx-large;
  font-weight: 500;
}

.Contact-Information-caption p {
  margin-bottom: 30px;
  line-height: 22px;
  font-size: 16px;
  color: #555;
}

.Contact-Information-caption h3 {
  margin-bottom: 20px;
  font-size: x-large;
  margin-left: 30px;
  font-weight: 400;
  text-align: left;
  color: #333;
}

.nav-link {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-link li {
  text-align: center;
  margin-bottom: 20px;
}

.circle1 {
  float: left;
  text-align: center;
  padding: 10px;
  width: 40px;
  height: 40px;
  background-color: #947653;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}
.footer-caption h4 {
  font-size: x-large;
  font-weight: 300;
}

.circle1 img {
  width: 20px;
  height: 20px;
}

.nav-link p {
  margin: 10px 10px;
  font-size: 16px;
  color: #333;
}


.container2 {
  width: 100%;
  background-color: #413d38;
  margin: auto;
}




.map{
    margin-left: 40px;
}

























 




























/*  section five footer */

.container2 {
  width: 100%;
  background-color: #413d38;
  margin: auto;
}

.footer {
  padding: 80px 0;
}

.footer .footer-caption {
  float: left;
  width: 20%;
  text-align: center;
  color: #969696;

  margin-left: 2.5%;
  margin-right: 2.5%;
}

.footer .footer-caption .nav-link {
  width: 100%;
  padding: 1px 1px;
  text-align: center;
}

.footer .footer-caption p {
  margin-bottom: 10px;
  line-height: 20px;
  color: #969696;
}

.footer .footer-caption hr {
  color: #969696;
  margin-bottom: 3px;
}

.footer .footer-caption h4 {
  margin-bottom: 20px;
  color: #ffffff;
}

.map {
  width: 100%;
}

.container3 {
  width: 100%;
  background-color: #353330;
  padding: 40px;

  text-align: center;
  color: #777777;
  font-size: 16px;
  margin: auto;
}

.container3 .imgs {
  display: inline-block;
  margin: auto;
  padding: 10px;
}

.imgs .circle {
  margin-top: 10px;
  background-color: #3c3c3c;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
}

.container3 .imgs img {
  width: 40px;
  height: 40px;
}
/*  end  section five footer */
